<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>校园保卫部门</title>
    <link rel="shortcut  icon" type="image/x-icon" href="/live-project/public/favicon.png" media="screen" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/live-project/public/css/spectre.min.css">
    <script src="/live-project/public/js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        function light(obj) {
            obj.setAttribute('class', 'highLight');
        }
        function unlight(obj) {
            obj.removeAttribute('class')
        }
        function check_info() {
            var name = document.getElementById("txt2").value;
            var num = document.getElementById("txt1").value;
            reg1 = /^[\u4E00-\u9FA5]{2,6}$/;
            if (!reg1.test(name)) {
                alert('您输入的名字格式有误！');
            }
            var reg2 = /^\d{9}$/
            if (!reg2.test(num)) {
                alert('您输入的学号格式有误！');
            }
        }


        $(function () {
            $("#myAlert").bind('closed.bs.alert', function () {
                alert("警告消息框被关闭。");
            });
        });

        function del() {
            alert("删除成功!");
        }
    </script>
</head>